<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <appSettings>
      <add key="MessagesXml" value="mesaje.xml"/>
      <add key="TimeoutDisplayNotificationWindow" value="6000"/>
      <add key="PublishInterval" value="3600000"/>
      <add key="MessageUpdateInterval" value="3600000"/>
      <add key="UseRandomSkins" value="false"/>
      <add key="SkinId" value="1"/>
    </appSettings>
</configuration>
